.advanteges {
  @include tablet {
    padding-top: 75px;
  }

  @include desktop {
    padding-top: 80px;
  }
}

.advanteges__text {
  @include text (300, 24px, 29px, #283645);
  // ($font-weight, $font-size, $line-height, $color)
  text-align: center;
  width: 210px;
  margin: 0 auto;
  margin-top: 40px;

  &--bottom {
    margin-top: 24px;
    margin-bottom: 107px;
  }

  @include tablet {
    font-size: 40px;
    line-height: 54px;
    width: 590px;
    margin-bottom: 40px;
  }

  @include desktop {
    font-size: 50px;
    line-height: 68px;
    width: 780px;
    margin-bottom: 65px;
  }
}


.advanteges__list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.advanteges__title {
  margin: 0;

  @include text (700, 18px, 24px, #000000);
  // ($font-weight, $font-size, $line-height, $color)
}

.advanteges__description {
  margin: 0;

  @include text (400, 14px, 24px, #283645);
  // ($font-weight, $font-size, $line-height, $color)
}

.advanteges__image {
  &--bottom {
    width: 157px;
    height: 320px;
    margin: 0;

    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
